
            body{
         background-color: black;
        font-family: Arial, Helvetica, sans-serif;        
    }
        ul{
            display:flex;
            justify-content: space-evenly;
            padding: 7px;
            font-size: 18px;
            background-color:white;
            color: black;
            align-items: center;
            list-style-type:none;
            margin-top: 20px;
            
        }
        ul a{
            text-decoration:none;
            color:black;
        }
        ul li button{
            background-color: rgb(75, 142, 201);
            font-size: 20px;
            border: none;
            border-radius: 5px;
            padding: 4px 8px;
            color:white;
            cursor: pointer;
        }
        ul a:hover{
            color: blue;
            background-color: aliceblue;
        }
        ul li button:hover{
            background-color: black;

        }
.container{
    border: 2px solid rgb(73, 67, 124);
    width: 600px;
    text-align: left;
    margin: 30px auto;
    padding-bottom: 20px;
    background-color: pink;
    font-size:20px;
	box-shadow: 30px 30px 15px;
}
h1,h2,h3{
color:rgb(240, 19, 19);
text-decoration:underline ;
}
img{
	height:150px;
	width:150px;
}
.another{
text-align:center;
}
body{
	background-color: rgb(148, 91, 89);
}
